<div id="<%= dom_id order %>">
  <p>
    <strong>Pao de alho:</strong>
    <%= order.pao_de_alho %>
  </p>

  <p>
    <strong>Linguica fina:</strong>
    <%= order.linguica_fina %>
  </p>

  <p>
    <strong>Liguica groca:</strong>
    <%= order.liguica_groca %>
  </p>

  <p>
    <strong>Queijo:</strong>
    <%= order.queijo %>
  </p>

  <p>
    <strong>Frango:</strong>
    <%= order.frango %>
  </p>

  <p>
    <strong>Porco:</strong>
    <%= order.porco %>
  </p>

  <p>
    <strong>Costela de ovelha:</strong>
    <%= order.costela_de_ovelha %>
  </p>

  <p>
    <strong>Paleta de ovelha:</strong>
    <%= order.paleta_de_ovelha %>
  </p>

  <p>
    <strong>Picanha:</strong>
    <%= order.picanha %>
  </p>

  <p>
    <strong>File mignion:</strong>
    <%= order.file_mignion %>
  </p>

  <p>
    <strong>Maminha:</strong>
    <%= order.maminha %>
  </p>

  <p>
    <strong>Entrecort:</strong>
    <%= order.entrecort %>
  </p>

  <p>
    <strong>Costela:</strong>
    <%= order.costela %>
  </p>

  <p>
    <strong>Vazio:</strong>
    <%= order.vazio %>
  </p>

  <p>
    <strong>Alcatra:</strong>
    <%= order.alcatra %>
  </p>

  <p>
    <strong>Capa de file:</strong>
    <%= order.capa_de_file %>
  </p>

  <p>
    <strong>Sorvete:</strong>
    <%= order.sorvete %>
  </p>

  <p>
    <strong>Chocolate barra:</strong>
    <%= order.chocolate_barra %>
  </p>

  <p>
    <strong>Bombom:</strong>
    <%= order.bombom %>
  </p>

  <p>
    <strong>Ceveja lata:</strong>
    <%= order.ceveja_lata %>
  </p>

  <p>
    <strong>Refrigerante:</strong>
    <%= order.refrigerante %>
  </p>

  <p>
    <strong>Agua sem gas:</strong>
    <%= order.agua_sem_gas %>
  </p>

  <p>
    <strong>Agua com gas:</strong>
    <%= order.agua_com_gas %>
  </p>

  <p>
    <strong>Espumante:</strong>
    <%= order.espumante %>
  </p>

  <p>
    <strong>Local de entrega:</strong>
    <%=  order.entrega %>
  </p>

  <p>
    <strong>Forma de pagamento:</strong>
    <%=  order.pagamento %>
  </p>



</div>
